apiVersion: v1
kind: ServiceAccount
metadata:
  name: airflow
  namespace: drift-detection
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: airflow-role
  namespace: drift-detection
rules:
- apiGroups: [""]
  resources: ["pods", "pods/log"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: airflow-rolebinding
  namespace: drift-detection
subjects:
- kind: ServiceAccount
  name: airflow
  namespace: drift-detection
roleRef:
  kind: Role
  name: airflow-role
  apiGroup: rbac.authorization.k8s.io
